body {
  color: #000;
}

.articles .article .date {
  font-size: 0.6em;
  color: #999999;
}

.articles .article .title {
  font-size: 1.2em;
  font-weight: bold;
}

.articles .article .content {
  font-size: 0.8em;
}

.articles .article .image img {
  width: 250px;
}

